<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <div class="topnav">
    <a href="/">Home</a>
    <a href="/create">Create Users</a>
    <a class="active" href="/customers">Customers</a>
  </div>

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    tr:hover {
      background-color: #ccc;
    }
  </style>

  <body>
    <h2>List Customers</h2>

    <p>Move the mouse over the table rows to see the effect.</p>

    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Description</th>
        <th>Image</th>
        <th>Action</th>
      </tr>

      <% for (let i = 0; i < listCustomer.length; i++) { %>

      <tr>
        <td><%= listCustomer[i].id %></td>
        <td><%= listCustomer[i].name %></td>
        <td><%= listCustomer[i].address %></td>
        <td><%= listCustomer[i].phone %></td>
        <td><%= listCustomer[i].email %></td>
        <td><%= listCustomer[i].description %></td>
        <td><%= listCustomer[i].image %></td>
        <td class="customer-btn">
          <form action="/update/<%= listCustomer[i].id %>" method="GET">
            <button>Edit</button>
          </form>
          <form action="/delete-user/<%= listCustomer[i].id %>" method="POST">
            <button>Delete</button>
          </form>
        </td>
      </tr>

      <% } %>
    </table>
  </body>
</html>
